body {
    padding-top: 70px
}

.title {
    background-color: coral;
    text-align: center;
}

.scrollable{
    overflow-y: auto;
    max-height: 300px;
}

.component{
    color: black;
}

.component:hover{
    color: black;
    text-decoration: none;
}