{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="jumbotron m-2">
    <h1 class="display-4">
        Worlds overview
    </h1>
</div>
<div class="container-fluid">
    <div class="row">
        {% for world in worlds %}
            <div class="col-sm-12 col-md-6 col-lg-3 p-md-1">
                <div class="border p-md-1">
                    <!--TODO: add world info-->
                    <h3>{{ world[0] }}</h3>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
