{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="jumbotron">
    {% block jumbotron %}
    {% endblock %}
</div>
<div class="wrapper">
    <div id="sidebar">
        <div id="close">
            <i class="fas fa-arrow-left"></i>
        </div>
        <div id="sidebar-header">
            {{worldContent[0][1]}} Content
        </div>
        <ul class="list-unstyled components">
            
        </ul>
    </div>
    <div id="content">
        {% block worldContent %}
        {% endblock %}
    </div>
</div>
{% endblock %}