{% extends "worldBase.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block jumbotron %}
    <h1 class="display-4">{{ worldContent[0][1] }}</h1>
    <!-- a horizontal line that doesn't reach all the way -->
    <p class="lead">{{ worldContent[0][2] }}</p>
{% endblock %}
{% block worldContent %}
<div class="row justify-content-center">
    <a class="btn btn-info m-2 col-11" href={{ url_for('edit_world', worldTitle=worldContent[0][1], worldId=worldContent[0][0]) }}>Edit World</a>
    <!-- TODO: Check possibility of using collapse as done in worldBase for the sidebar -->
    <a class="btn btn-info m-2 col-11" id="boxesSelector" href="">Edit World Boxes</a>
    <div class="card col-sm-12 col-lg-10 p-2 text-center" id="boxes">
        <form action="", method="POST" novalidate>
            <!-- TODO: change the generation of the subfields of the shown field -->
            {{ wtf.form_field(form.shown) }}
            {{ wtf.form_field(form.submit, class="btn btn-info") }}
        </form>
    </div>
</div>
<div class="card-columns">
    {% if showStory == true %}
        <div class="card">
            <div class="card-header">World Story</div>
            <div class="card-body text-center scrollable">
                <p class="card-text">{{ worldContent[0][3] }}</p>
            </div>
        </div>
    {% endif %}
    {% if showEvents == true %}
        <div class="card">
            <div class="card-header">Events</div>
            <div class="card-body text-center scrollable">
                <ul class="list-unstyled">
                    <!-- should I only show the first X amount and remove the scrollable class from card-body? -->
                    {% if worldContent[1] != None %}
                    {% for event in worldContent[1] %}
                        <li>
                            <a class="component" href={{ url_for('world_event', worldId=worldContent[0][0], eventId=event[0], worldTitle=worldContent[0][1]) }}>
                                <h3>{{ event[1] }}</h3>
                                <!-- horizontal line -->
                                <p>{{ event[2] }}</p>
                            </a>
                        </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}