{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="wrapper">
    <div id="sidebar" class="active p-2">
        <div id="close">
            <i class="fas fa-arrow-left"></i>
        </div>
        <div id="sidebar-header">
            <h2>
                {{worldContent[0][1]}} Content
            </h2>
        </div>
        <ul class="list-unstyled components">
            <!-- add active class to the correct <li> based on page? -->
            <!-- TODO: check whether any world events exists -->
            <li>
                <a href="#eventsSubmenu" data-toggle="collapse" aria-expanded="false" class="component"><p>World Events</p></a>
                {% if worldContent[1] != None %}
                <ul class="collapse list-unstyled" id="eventsSubmenu">
                    {% for event in worldContent[1] %}
                        <li>
                            <a href={{ url_for("world_event", worldTitle=worldContent[0][1], worldId=worldContent[0][0], eventId=event[0]) }} class="component"><h6>{{ event[1] }}</h6></a>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        </ul>
    </div>
    <div id="content" class="p-2 active">
        <div class="jumbotron">
            {% block jumbotron %}
            {% endblock %}
        </div>
        <div class="row justify-content-center no-gutters">
            <nav class="navbar navbar-expand-lg">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
            </nav>
        </div>
        {% block worldContent %}
        {% endblock %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
        $('#content').toggleClass('active');
    });
});
</script>
{% endblock %}